This is a small example of how to wrangle data.

In [15]:
import pandas as pd
import matplotlib as plt

%matplotlib inline

Continents-Countries List

In [16]:
Continent_Country_File = pd.read_csv('Countries-Continents-csv.csv')
Continent_Country_File = Continent_Country_File[['Country','Continent']]
Continent_Country_File = Continent_Country_File.apply(lambda x: x.astype(str).str.upper())
Continent_Country_File = Continent_Country_File.sort_values(by =['Country'])
Continent_Country_File['Country'].replace(['KOREA, NORTH', 'KOREA, SOUTH' ], ['KOREA, DEM. PEOPLE’S REP.', 'KOREA, REP.'], inplace=True)
Continent_Country_File.to_csv("FR2.csv")
Continent_Country_File.head()

        Country Continent
54  AFGHANISTAN      ASIA
98      ALBANIA    EUROPE
0       ALGERIA    AFRICA
99      ANDORRA    EUROPE
1        ANGOLA    AFRICA

Fertility Rate Data from 1960 - 2015

In [17]:
Fert_Rate_File1 = pd.ExcelFile('API_SP.DYN.TFRT.IN_DS2_en_excel_v2.xls')
Fert_Rate_File1 = Fert_Rate_File1.parse("Data")
Fert_Rate_File1.columns = ['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', 
                          '1964', '1965','1966','1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
                          '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
                          '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
                          '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
                          '2016']
Fert_Rate_File1 = Fert_Rate_File1[['Country', '2008', '2010', '2012', '2014']]
Fert_Rate_File1 = Fert_Rate_File1.fillna(0)
Fert_Rate_File1 = Fert_Rate_File1.apply(lambda x: x.astype(str).str.upper())
Fert_Rate_File1[['2008', '2010', '2012', '2014']] = Fert_Rate_File1[['2008', '2010', '2012', '2014']].apply(pd.to_numeric, errors='ignore')
Fert_Rate_File1.head()

       Country   2008   2010   2012   2014
0        ARUBA  1.728  1.704  1.680  1.657
1  AFGHANISTAN  6.218  5.746  5.272  4.843
2       ANGOLA  6.559  6.416  6.251  6.080
3      ALBANIA  1.625  1.663  1.735  1.784
4      ANDORRA  1.250  1.270  0.000  0.000

Fertility Rate Data for 2016

In [18]:
Fert_Rate_File2 = pd.read_csv('Global Fertility Rate.csv')
Fert_Rate_File2.columns = ['Rank','Country','2016', 'DoI']
Fert_Rate_File2 = Fert_Rate_File2[['Country','2016', 'Rank']]
Fert_Rate_File2 = Fert_Rate_File2.fillna(0)
Fert_Rate_File2 = Fert_Rate_File2.apply(lambda x: x.astype(str).str.upper())
Fert_Rate_File2[['2016']] = Fert_Rate_File2[['2016']].apply(pd.to_numeric, errors='ignore')
Fert_Rate_File2.head()

   Country  2016 Rank
0    NIGER  6.62    1
1  BURUNDI  6.04    2
2     MALI  5.95    3
3  SOMALIA  5.89    4
4   UGANDA  5.80    5

Final Fertility Rate Data from 2008-2016

In [19]:
Fert_Rate_File2['Country'].replace(['RUSSIA', 'KOREA, NORTH', 'KOREA, SOUTH' ], ['RUSSIAN FEDERATION', 'KOREA, DEM. PEOPLE’S REP.', 'KOREA, REP.'], inplace=True)

In [20]:
Fert_Rate_File = Fert_Rate_File1.merge (Fert_Rate_File2, on='Country', how='outer')
Fert_Rate_File.head()

       Country   2008   2010   2012   2014  2016 Rank
0        ARUBA  1.728  1.704  1.680  1.657  1.84  146
1  AFGHANISTAN  6.218  5.746  5.272  4.843  5.22   10
2       ANGOLA  6.559  6.416  6.251  6.080  5.31    9
3      ALBANIA  1.625  1.663  1.735  1.784  1.51  197
4      ANDORRA  1.250  1.270  0.000  0.000  1.39  212

In [21]:
Continents_Merged = Fert_Rate_File.merge (Continent_Country_File, on='Country', how='outer')
Continents_Merged[['2008', '2010', '2012', '2014', '2016']] = Continents_Merged[['2008', '2010', '2012', '2014', '2016']].apply(pd.to_numeric, errors='ignore')
Continents_Merged.to_csv("CC_GFR.csv")
Continents_Merged.head()

       Country   2008   2010   2012   2014  2016 Rank Continent
0        ARUBA  1.728  1.704  1.680  1.657  1.84  146       NaN
1  AFGHANISTAN  6.218  5.746  5.272  4.843  5.22   10      ASIA
2       ANGOLA  6.559  6.416  6.251  6.080  5.31    9    AFRICA
3      ALBANIA  1.625  1.663  1.735  1.784  1.51  197    EUROPE
4      ANDORRA  1.250  1.270  0.000  0.000  1.39  212    EUROPE

GDP data

In [22]:
GDP_File = pd.read_csv('API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2.csv')
GDP_File.columns = ['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', 
                          '1964', '1965','1966','1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
                          '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
                          '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
                          '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
                          '2016']
GDP_File = GDP_File[['Country', '2008', '2010', '2012', '2014']]
GDP_File = GDP_File.fillna(0)
GDP_File = GDP_File.apply(lambda x: x.astype(str).str.upper())
GDP_File[['2008', '2010', '2012', '2014']] = GDP_File[['2008', '2010', '2012', '2014']].apply(pd.to_numeric, errors='ignore')
GDP_File.to_csv("GDP_File.csv")
GDP_File.head()

       Country       2008      2010       2012      2014
0        ARUBA  -6.881302  0.000000   0.000000  0.000000
1  AFGHANISTAN   3.611368  8.433290  14.434741  1.312531
2       ANGOLA  13.817146  3.407655   5.155441  4.804473
3      ALBANIA   7.530000  3.710000   1.420000  1.800000
4      ANDORRA  -8.594256 -5.347977  -1.760010  0.000000

Urbanization Data

In [23]:
Urb_File = pd.read_csv('API_SP.URB.TOTL.IN.ZS_DS2_en_csv_v2.csv')
Urb_File.columns = ['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', 
                          '1964', '1965','1966','1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
                          '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
                          '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
                          '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
                          '2016']
Urb_File = Urb_File[['Country', '2008', '2010', '2012', '2014']]
Urb_File = Urb_File.fillna(0)
Urb_File = Urb_File.apply(lambda x: x.astype(str).str.upper())
Urb_File[['2008', '2010', '2012', '2014']] = Urb_File[['2008', '2010', '2012', '2014']].apply(pd.to_numeric, errors='ignore')
Urb_File.to_csv("Urb_File.csv")
Urb_File.head()

       Country    2008    2010    2012    2014
0        ARUBA  43.783  43.059  42.364  41.779
1  AFGHANISTAN  23.946  24.689  25.468  26.282
2       ANGOLA  38.509  40.097  41.699  43.274
3      ALBANIA  49.991  52.163  54.330  56.409
4      ANDORRA  88.867  87.817  86.708  85.633

Female Literacy Data

In [24]:
Female_Literacy_File = pd.ExcelFile('LiteracyRatesFemales.xlsx')
Female_Literacy_File = Female_Literacy_File.parse("Sheet1")
Female_Literacy_File.columns = ['Rank','Country','2016', 'DoI']
Female_Literacy_File = Female_Literacy_File[['Country','2016']]
Female_Literacy_File = Female_Literacy_File.fillna(0)
Female_Literacy_File = Female_Literacy_File.apply(lambda x: x.astype(str).str.upper())
Female_Literacy_File[['2016']] = Female_Literacy_File[['2016']].apply(pd.to_numeric, errors='ignore')
Female_Literacy_File['Country'].replace(['RUSSIA', 'KOREA (NORTH)'], ['RUSSIAN FEDERATION', 'KOREA, DEM. PEOPLE’S REP.'], inplace=True)

In [25]:
Female_Literacy_File.loc[len(Female_Literacy_File)]=['JAPAN',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['AUSTRALIA',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['KOREA, REP.',0]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['UNITED STATES',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['UNITED KINGDOM',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['CANADA',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['BARBADOS',99.7]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['BELGIUM',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['DENMARK',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['FRANCE',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['GERMANY',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['IRELAND',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['MONACO',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['NETHERLANDS',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['NEW ZEALAND',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['NORWAY',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['SWEDEN',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['SWITZERLAND',99]
Female_Literacy_File.loc[len(Female_Literacy_File)]=['MARSHALL ISLANDS',98]

In [26]:
Female_Literacy_File.to_csv("Female_Literacy_File.csv")
Female_Literacy_File.head()

                     Country   2016
0  KOREA, DEM. PEOPLE’S REP.  100.0
1                     LATVIA   99.9
2                 AZERBAIJAN   99.8
3                       CUBA   99.8
4                    ESTONIA   99.8